<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        Hello World!
        <%-'<div>Hello</div>'%>
        <%='<div>Hello</div>'%>
        <br>
        <% const name = "hello" %>
        <%= name %>

        <% const hello = [1, 2, 3, 4, 5] %>
        <% for(let i = 0; i < hello.length; ++i){%>
            <%=hello[i]%>
        <%}%>

        <% hello.forEach(element=>{%>
            <div>
                <%=element%>
            </div>
        <%})%>

        <%=locals.data %>
    </body>
</html>
